@import 'tailwindcss';
@plugin '@tailwindcss/typography';

@custom-variant dark (&:where(.dark, .dark *));

/* Typography plugin */
@utility prose {
  :not(pre) > code {
    &::before,
    &::after {
      display: none;
    }
    color: var(--color-slate-500);
    background-color: var(--color-stone-100);
    border-radius: 0.25rem;
    padding: 0.25rem;
    margin-left: 0.25rem;
    margin-right: 0.25rem;
    @apply no-scrollbar;
  }
}

@utility no-scrollbar {
  /* Hide scrollbar for Chrome, Safari and Opera */
  &::-webkit-scrollbar {
    display: none;
  }

  /* Hide scrollbar for IE, Edge and Firefox */
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

.react-pdf__Page {
  @apply overflow-hidden rounded-lg bg-white shadow-md select-text;
}
