.app-wrapper {
  position: relative;
}

.sub-app {
  // position: absolute;
  // left: 0;
  // top: 0;
  border-radius: 30px;
  overflow: hidden;
  box-shadow: 0 0 40px #000;
  transform: translateY(0) rotate(2deg) translateX(25px) scale(1);
  transform-origin: 0 0;
  transition: transform 0.6s cubic-bezier(0.8, 0.2, 0.1, 0.8) 0.1s,
    background 0.4s linear;
  cursor: pointer;
  user-select: none;
}

.sub-app--next {
  z-index: 5;
  transform: translateY(-25px) rotate(4deg) translateX(25px) scale(1);
}
.sub-app--out {
  animation: sub-app-out 0.6s cubic-bezier(0.8, 0.2, 0.1, 0.8);
  transform: translateY(-50px) rotate(8deg) translateX(55px) scale(0.95);
  z-index: 1;
}

@keyframes sub-app-out {
  0% {
    z-index: 20;
    transform: translateY(0px) rotate(-4deg);
  }
  50% {
    transform: translateY(-120%) rotate(-5deg) translateX(-40px);
  }
  80% {
    z-index: 1;
  }
  100% {
    transform: translateY(-50px) rotate(8deg) translateX(55px) scale(0.95);
  }
}

.sub-app--current {
  cursor: auto;
  user-select: auto;
  position: relative;
  z-index: 10;
  opacity: 1;
  background: #eee;
  transform: rotate(-1deg) translateX(0%) scale(1);
}
