$slider-thumb-size: 20px;
$slider-height: 300px;

$slider-track-thickness: 4px;
$slider-width: 80px;
$slider-width-device-small: 40px;
$color-theme: #3d3d4a;
$color-track: #343440;
$color-text: lighten(#737383, 10%);
$border-radius: 10px;

@mixin device-bigger {
  @media (min-width: 800px) {
    @content;
  }
}

// The input range mixin code is based on Ana Tudor's pen codepen.io/thebabydino/pen/pvLPOQ

@mixin track {
  border: none;
  background: $color-track;
  width: $slider-track-thickness;
  border-color: $color-track;
  border-radius: 10px;
  box-shadow: 0 0 0 2px $color-theme;
}

@mixin thumb {
  position: relative;
  // Increase hitbox
  width: $slider-thumb-size * 2;
  height: $slider-thumb-size * 2;
  opacity: 0; // Hide the native styling
}

* {
  outline: none;
}
*,
*:before,
*:after {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}
body {
  margin: 0;
  padding: 10px;
  min-height: 400px;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  @media (min-height: 500px) {
    align-items: center;
  }
  font: 16px sans-serif;
}

.component {
  position: relative;
  color: white;
  background-color: $color-theme;
  border-radius: $border-radius;
  box-shadow: 0px 20px 40px rgba(black, 0.5), 0px -2px 40px rgba(black, 0.3);
  //box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
  min-width: 280px;
  display: flex;
  flex-direction: column;
  @include device-bigger {
    flex-direction: row;
  }
  &:before,
  &:after {
    content: '';
    background-color: transparent;
    position: absolute;
    z-index: -1;
    box-shadow: 0 20px 20px rgba(black, 0.3);
    top: 100%;
    bottom: -5px;
    left: 8%;
    right: 8%;
    border-radius: 50%;
  }
  &:after {
    box-shadow: 0 25px 20px rgba(black, 0.6);
    left: 12%;
    right: 12%;
  }

  aside {
    // outline: 1px dashed deeppink;  // debug
    position: relative;
    display: block;
    background: #373641;
    border-top-left-radius: $border-radius;
    border-top-right-radius: $border-radius;

    @include device-bigger {
      border-top-right-radius: 0;
      border-bottom-left-radius: $border-radius;
      min-width: 140px;
    }

    .preamp {
      height: 70px;
      @include device-bigger {
        height: 100px;
      }

      display: flex;
      justify-content: center;
      align-items: center;
      > label {
        color: #dedfe4;
        text-transform: uppercase;
        display: block;
        font-weight: 700;
      }
    }
  }
  main {
    position: relative;
    display: block;
    padding-bottom: 50px;
    @include device-bigger {
      padding-left: 20px;
      padding-right: 20px;
    }

    .presets {
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 10px;
      padding-left: calc(#{$slider-width-device-small}/ 2 - 0.5em);
      height: 100px;
      @include device-bigger {
        padding-left: calc(#{$slider-width}/ 2 - 0.5em);
        justify-content: flex-start;
      }
      color: $color-text;
      font-weight: 700;
      border-color: #4f4f62;
      background: transparent;
      > label {
        display: inline-block;
        margin-right: 20px;
      }
      > select {
        -webkit-appearance: none;
        border-radius: 8px;
        border: 2px solid currentColor;
        max-width: 200px;
        padding: 4px;
        @include device-bigger {
          min-width: 200px;
          padding-left: 10px;
        }
        color: inherit;
        background: transparent;
        border-color: inherit;

        height: 30px;
        margin-right: 10px;

        option {
          background-color: $color-theme;
        }
      }
      > button {
        height: 30px;
        @include device-bigger {
          min-width: 80px;
        }
        border-radius: 8px;
        background: transparent;
        color: inherit;
        border: 2px solid currentColor;
        border-color: inherit;
        padding: 4px 10px;
        cursor: pointer;
        outline: none;
      }
    }

    .sliders {
      position: relative;
      display: inline-block;

      .range-slider {
        display: inline-block;
        width: $slider-width-device-small;
        @include device-bigger {
          width: $slider-width;
        }
        position: relative;
        height: $slider-height;
        float: left;
        &::after {
          position: absolute;
          bottom: -24px;
          left: calc(50% - 2em);
          font-size: 80%;
          color: $color-text;
          content: '32';
          width: 4em;
          text-align: center;
        }
        &:nth-child(2)::after {
          content: '32';
        }
        &:nth-child(3)::after {
          content: '64';
        }
        &:nth-child(4)::after {
          content: '128';
        }
        &:nth-child(5)::after {
          content: '256';
        }
        &:nth-child(6)::after {
          content: '512';
        }
        &:nth-child(7)::after {
          content: '1K';
        }
        &:nth-child(8)::after {
          content: '2K';
        }

        &__thumb {
          opacity: 1;
          position: absolute;
          left: $slider-width-device-small/2 - $slider-thumb-size/2;
          @include device-bigger {
            left: $slider-width/2 - $slider-thumb-size/2;
          }
          width: $slider-thumb-size;
          height: $slider-thumb-size;
          line-height: $slider-thumb-size;
          background-color: white;
          color: #8376ff;
          text-align: center;
          font-size: 40%;
          box-shadow: 0 0 2px #373641;
          border-radius: 50%;
          pointer-events: none;
          cursor: pointer;
          z-index: 2;
        }
        &__bar {
          left: $slider-width-device-small/2 - $slider-track-thickness/2;
          @include device-bigger {
            left: $slider-width/2 - $slider-track-thickness/2;
          }
          bottom: 0;
          position: absolute;
          background: linear-gradient(#9791b8, #8376ff);
          pointer-events: none;
          width: $slider-track-thickness;
          border-radius: 10px;
          opacity: 1;
        }

        input[type='range'][orient='vertical'] {
          //outline: 1px dashed white; // debug
          position: relative;
          margin: 0;
          height: 100%;
          width: 100%;
          display: inline-block;
          position: relative;
          writing-mode: bt-lr; // IE
          -webkit-appearance: slider-vertical; // webkit
          &::-webkit-slider-runnable-track,
          &::-webkit-slider-thumb {
            -webkit-appearance: none;
          }
          &::-webkit-slider-runnable-track {
            @include track;
          }
          &::-moz-range-track {
            @include track;
          }
          &::-ms-track {
            @include track;
            color: transparent;
            height: 100%;
          }
          &::-ms-fill-lower,
          &::-ms-fill-upper,
          &::-ms-tooltip {
            display: none;
          }
          &::-webkit-slider-thumb {
            left: -$slider-thumb-size; // fix Ipad hitbox
            @include thumb;
          }
          &::-moz-range-thumb {
            @include thumb;
          }
          &::-ms-thumb {
            @include thumb;
          }
        }
      }

      svg {
        z-index: 1;
        overflow: visible;
        pointer-events: none;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        fill: none;
        stroke-width: 1;
        .line {
          stroke: #f7ed7d;
        }
        .line-shadow {
          z-index: 1;
          stroke-width: 2;
          stroke: #252525;
          opacity: 0.35;
          display: none;
          @include device-bigger {
            display: block;
          }
        }
      }
    }
  }
}

.design-reference {
  position: fixed;
  bottom: 6px;
  right: 6px;
  color: $color-text;
  font-size: 70%;
  display: none;
  @media (min-height: 600px) {
    display: block;
  }
}
