body {
  font-family: Termina, sans-serif;
  color: #111;
  overflow-x: hidden;
}

section {
  padding: 10vw;
  height: 100%;
  min-height: 500vh;
  overflow: visible;
  display: flex;
  flex-direction: column;
  justify-content: center;
  overflow-y: visible;
}

.credit {
  text-align: center;
  z-index: 999;
  font-size: 0.8rem;
  position: fixed;
  bottom: 1rem;
  right: 1rem;
  writing-mode: vertical-rl;
  text-orientation: mixed;
}
.credit a {
  color: #fff;
}

* {
  box-sizing: border-box;
}

h1 {
  font-weight: 800;
  margin: 2rem auto;
  font-size: clamp(3vw, 2rem, 4rem);
  text-align: center;
  z-index: 999;
  max-width: 800px;
  mix-blend-mode: difference;
  pointer-events: none;
  color: white;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: grid;
  place-items: center;
}

.gallery {
  z-index: 1;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  overflow: visible;
}
@media (max-width: 768px) {
  .gallery {
    width: 160%;
  }
}

.col {
  display: flex;
  flex: 1;
  flex-direction: column;
  width: 100%;
  align-self: flex-start;
  justify-self: flex-start;
}

.col:nth-child(2) {
  align-self: flex-end;
  justify-self: flex-end;
}

.image {
  width: 100%;
  filter: blur(1px);
  padding: 1rem;
  transition: all 0.5s ease;
  border-radius: 2px;
}

.image:hover {
  z-index: 99999999999 !important;
  filter: blur(0);
}

img {
  transition: 0.3s ease-out;
  overflow: hidden;
  width: 100%;
}
