html,
body {
  overscroll-behavior: none;
  font-family: Avenir, Helvetica, Arial, sans-serif !important;
}

svg {
  vertical-align: inherit;
}

.ant-tabs-editable > .ant-tabs-nav .ant-tabs-tab {
  transition: none;
  border-radius: 0px !important;
}

.ant-tabs-nav-add {
  border-radius: 0px !important;
}
