body {
  overscroll-behavior: contain;
}

.ant-spin-spinning {
  max-height: none !important;
}

.flow-node-dragover {
  background-color: #1890ff;
}

.ant-btn-primary {
  background-color: #1677ff;
}
