@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  // content menu item hover bg
  --contexify-activeItem-bgColor: rgba(255, 255, 255, 0.08);
  overscroll-behavior: none;
  font-family: Avenir, Helvetica, Arial, sans-serif !important;
}

svg {
  vertical-align: inherit;
}

.ant-modal .ant-modal-content {
  padding: 0;
}

.Resizer.vertical {
  width: 1px;
  border-left: 1px solid rgba(0, 0, 0, 0.3);
  border-right: 1px solid rgba(0, 0, 0, 0.3);
  cursor: col-resize;
}

.Resizer.vertical:hover {
  border-left: 1px solid rgba(255, 255, 255, 0.8);
  border-right: 1px solid rgba(255, 255, 255, 0.8);
}

.Resizer.disabled {
  cursor: not-allowed;
}
.Resizer.disabled:hover {
  border-color: transparent;
}
